body {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 40px;
}

h1 {
  font-family: 'Miniver', cursive;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

#happycookie {
  width: 100px;
}

.cookies {
  text-align: center;
}

#sugar {
  width: 300px;
}

#chocolate {
  width:300px;
  margin-left: 120px;
  margin-right: 120px;
}

#lemon {
  width: 300px;
}

.buttons{
  text-align: center;
}

button {
  font-family: 'Miniver', cursive;
  font-size: 25px;
  margin: 10px 115px 10px 115px;
  border-radius: 12px;
  background-color: #bff7ff;
  border: none;
  text-decoration: none;
  padding: 10px;
}

button:focus {
  outline:none;
}

button:hover {
  background-color: #75eeff;
}

.counters {
  text-align: center;
  width: 100%;
}


#sugarcount {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

#chocolatecount{
  display: inline-block;
  margin: 20px 415px 20px 415px;
}

#lemoncount{
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

#clear{
  margin-top: 30px;
  text-align: center;
}

#fulljar{
  width: 80px;
  position: absolute;
}

.crumble {
  font-family: 'Miniver', cursive;
  margin: 20px;
}
